<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html lang="en">
<head>

    {% include '_includes/header.html' %}
    {% block css %}
    {% endblock %}

</head>
<body id="index">

<header id="blog-header" class="has-cover">
  <div class="inner">
    <h1 class="blog-name"><a href="{{ SITEURL }}/">{{ INFINITE_PELICAN_TITLE }}</a></h1>
  </div>
  <div class="blog-cover cover" style="background-image: url('{{ INFINITE_PELICAN_IMG }}')">
  </div>
</header>

{% block content %}
{% endblock %}

{% include '_includes/javascript.html' %}

{% block javascript %}
{% endblock %}

<footer id="contentinfo" class="body">
    {% include '_includes/footer.html' %}
</footer>
</body>
</html>
